IMAGE_NAME="<name-of-resulting-image>"
SOURCE_DISK="<source-disk-name_defaults-to-instance-name>"
SOURCE_DISK_ZONE="<source-disk-zone>"
STORAGE_LOCATION="<region-or-multi-region-to-store-the-image-on-creation>"