ANSIBLE_USER="<ansible-service-account-user>"
ANSIBLE_SSH_COMMON_ARGS="<any-ssh-proxy-args-etc>"
ANSIBLE_SSH_PRIVATE_KEY_FILE="<ansible-service-account-private-key-file>"
INSTANCE_IP="<target-instance-public-or-private-ip>"
ES_DISCOVERY_SEED_HOSTS="<es-discovery-seed-hosts-parameters>"
